trunk/aurora.application/wsdl/complex.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aurora.org/simple/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="simple" targetNamespace="http://www.aurora.org/simple/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aurora.org/simple/">
      <xsd:element name="cancatRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="s1" type="xsd:string" />
          	<xsd:element name="s2" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancatResponse" type="xsd:string">

      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cancatRequest">
    <wsdl:part element="tns:cancatRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cancatResponse">
    <wsdl:part element="tns:cancatResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="simple">
    <wsdl:operation name="cancat">
      <wsdl:input message="tns:cancatRequest"/>
      <wsdl:output message="tns:cancatResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="simpleSOAP" type="tns:simple">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancat">
      <soap:operation soapAction="http://www.aurora.org/simple/cancat"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
			<wsp:PolicyReference URI="#UNTAuth.xml"/>
		</wsp:Policy>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="simple">
    <wsdl:port binding="tns:simpleSOAP" name="simpleSOAP">
      <soap:address location="http://localhost:808/axis2/services/simple"/>
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy s1:Id="UNTAuth.xml" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:s1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
		<wssp:SupportedTokens>
			<wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#UsernameToken">
				<wssp:UsePassword Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"/>
			</wssp:SecurityToken>
		</wssp:SupportedTokens>
	</wssp:Identity>
</wsp:Policy>
</wsdl:definitions>


