aurora.application/wsdl/ReportSubmit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ccic.com/expense/reportSubmit/intf" xmlns:tns1="http://bean.reportSubmit.expense.service.ccic.com" xmlns:tns2="http://service.ccic.com/expense/reportSubmit/bean" xmlns:tns3="http://service.ccic.com/common/bean" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ccic.com/expense/reportSubmit/intf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://service.ccic.com/expense/reportSubmit/intf">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ccic.com/expense/reportSubmit/bean" elementFormDefault="qualified">
   <import namespace="http://bean.reportSubmit.expense.service.ccic.com"/>
   <import namespace="http://service.ccic.com/common/bean"/>
   <complexType name="ReportSubmitRequestDetailDTO">
    <sequence>
     <element name="accountCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="accountName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="amount" type="xsd:double"/>
     <element name="bankDistrict" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="bankLocationName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="bankName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="bankPlace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="budgetItemCode" type="xsd:string"/>
     <element name="business" type="xsd:string"/>
     <element name="claims" type="xsd:string"/>
     <element name="dimension10" type="xsd:string"/>
     <element name="dimension6" type="xsd:string"/>
     <element name="dimension7" type="xsd:string"/>
     <element name="dimension8" type="xsd:string"/>
     <element name="dimension9" type="xsd:string"/>
     <element name="lineComCode" type="xsd:string"/>
     <element name="lineCompanyCode" type="xsd:string"/>
     <element name="lineDescription" type="xsd:string"/>
     <element name="payeeCategory" type="xsd:string"/>
     <element name="payeeCode" type="xsd:string"/>
     <element name="paymentMethod" type="xsd:string"/>
     <element name="proceeding" type="xsd:string"/>
     <element name="product" type="xsd:string"/>
     <element name="project" type="xsd:string"/>
     <element name="publicPrivate" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ReportSubmitRequestBodyDTO">
    <sequence>
     <element name="companyCode" type="xsd:string"/>
     <element name="currencyCode" type="xsd:string"/>
     <element name="description" type="xsd:string"/>
     <element name="employeeCode" type="xsd:string"/>
     <element name="expReportTypeCode" type="xsd:string"/>
     <element name="expType" type="xsd:string"/>
     <element name="reportDate" type="xsd:string"/>
     <element name="requestDetails" type="tns2:ReportSubmitRequestDetailDTO" maxOccurs="unbounded"/>
     <element name="size" type="xsd:int"/>
     <element name="sourceDocLineNum" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="sourceDocNum" type="xsd:string"/>
     <element name="sourceName" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ReportSubmitResponseBodyDTO">
    <sequence>
     <element name="errorMsg" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="expReportNum" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="sourceDocLineNum" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="sourceDocNum" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="sourceName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ccic.com/common/bean" elementFormDefault="qualified">
   <import namespace="http://bean.reportSubmit.expense.service.ccic.com"/>
   <import namespace="http://service.ccic.com/expense/reportSubmit/bean"/>
   <complexType name="RequestHeadDTO">
    <sequence>
     <element name="seqNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="consumerSeqNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="consumerID" type="xsd:string"/>
     <element name="providerID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="classCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="riskCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="regionCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ResponseHeadDTO">
    <sequence>
     <element name="seqNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="consumerSeqNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="providerSeqNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="esbCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="esbMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="appCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="appMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bean.reportSubmit.expense.service.ccic.com" elementFormDefault="qualified">
   <import namespace="http://service.ccic.com/expense/reportSubmit/bean"/>
   <import namespace="http://service.ccic.com/common/bean"/>
   <complexType name="ReportSubmitRequestDTO">
    <sequence>
     <element name="requestBody" type="tns2:ReportSubmitRequestBodyDTO"/>
     <element name="requestHead" type="tns3:RequestHeadDTO"/>
    </sequence>
   </complexType>
   <complexType name="ReportSubmitResponseDTO">
    <sequence>
     <element name="responseBody" type="tns2:ReportSubmitResponseBodyDTO"/>
     <element name="responseHead" type="tns3:ResponseHeadDTO"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ccic.com/expense/reportSubmit/intf" elementFormDefault="qualified">
   <import namespace="http://bean.reportSubmit.expense.service.ccic.com"/>
   <import namespace="http://service.ccic.com/expense/reportSubmit/bean"/>
   <import namespace="http://service.ccic.com/common/bean"/>
   <element name="reportRequest" type="tns1:ReportSubmitRequestDTO"/>
   <element name="reportSubmitReturn" type="tns1:ReportSubmitResponseDTO"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="reportSubmitResponse">

      <wsdl:part name="reportSubmitReturn" element="impl:reportSubmitReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reportSubmitRequest">

      <wsdl:part name="reportRequest" element="impl:reportRequest">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ReportSubmit">

      <wsdl:operation name="reportSubmit" parameterOrder="reportRequest">

         <wsdl:input name="reportSubmitRequest" message="impl:reportSubmitRequest">

       </wsdl:input>

         <wsdl:output name="reportSubmitResponse" message="impl:reportSubmitResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReportSubmitSoapBinding" type="impl:ReportSubmit">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reportSubmit">

         <wsdlsoap:operation soapAction="/expense/reportSubmit"/>

         <wsdl:input name="reportSubmitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reportSubmitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReportSubmitService">

      <wsdl:port name="ReportSubmit" binding="impl:ReportSubmitSoapBinding">

         <wsdlsoap:address location="http://127.0.0.1:8080/web/services/ReportSubmit"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
